menubutton {
	padding : 2;
	padding-bottom : 3;
	width: 100;
	background : #000000;
	content-halign : middle;
	margin : 0;
}


menubutton text {
	font : url("font/gb.fnt");
	scale: 1;
	text-color : #1f1f1f;
	text-align : middle;
}

menubutton:hover {
	background: #000000;
	
}

menubutton text:hover {
	text-color : #4d533c;
}

menubutton:active {
	text-color : #c4cfa1;
}